@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    background-color: #e5002b;
}
.h-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.logo-1 {
    width: 300px;
    height: 80px;
    
}
.logo-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.search-i {
    width: 45px;
    height: 45px;
    background-color: #f5f5f5;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 1px solid #777;
}
.search-i i {
    width: 100%;
    height: 100%;
    display: flex;
    color: #777;
    justify-content: center;
    align-items: center;
}

.search-1 {
    display: flex;
}

.search-2 input {
    width: 450px;
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    border: none;
}







.profile {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-2 {
    width: 100%;
    background-color: #b60022;
}
.h2-container {
    max-width: 1400px;
    margin: auto;
}

.menu {
    
    height: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.menus-ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.menus-ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}



.wishlist {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #b60022;


    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;


    border-radius: 20px;
}

.wishlist-h h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}
.w-i i {
    color: #fff;
}


.sags {
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
}
.sags-1 i {
    color: #fff;
}


.me-1 {
    background-color: #b60022;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
}


.menu-i i {
    color: #fff;
    font-size: 20px;
}






/* banner */


main {
    width: 100%;
}
.banner-c {
    max-width: 1400px;
    margin: auto;
    margin-top: 30px;
}
.banner {
    width: 100%;
    height: 500px;
    border-radius: 30px;
    overflow: hidden;
    background-color: #000;
    border: 1px solid #000;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.pictures {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.p-c {
    max-width: 1400px;
    margin: auto;
}
.zuragnuud {
    width: 100%;
    display: flex;
    gap: 20px;
}
.image1 {
    width: 220px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #000;
}
.image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image1 img:hover {
    cursor: pointer;
    scale: 1.1;
}



.small-b {
    max-width: 1400px;
    margin: auto;
}
.small-b-img {
    width: 100%;
    height: 70px;
}
.small-b-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shop {
    max-width: 1400px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.shop-2 {
    width: 100%;
    height: 500px;
    display: flex;
    gap: 20px;
}
.shop-img {
    width: 25%;
    height: 100%;
    background-color: #b60022;
}
.shop-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shop-4 {
    width: 75%;
    height: 100%;
   
}

.shop-4-img {
    width: 100%;
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.card1 {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
}
.card1-img {
    width: 100%;
    height: 60%;
    position:relative;
}
.card1-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;

}
.content {
    padding: 15px;
}
.content p {
    font-size: 18px;
    color: #333333;
}
.pos{
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 2;
    margin-top: 15px;
    margin-left: 15px;
}
.pos-h{
width: 150px;
}
.pos-h h1{
   background-color: yellow;
   font-size: 25px;
   font-weight: 400;
   color:#000;
   text-align: center;
   padding: 10px;
   border-radius: 30px;
    
}
.big h1{
    color:blue;
}
.menu-text{
margin-right: 20px;
}
.menu-text ul{
    display: flex;
    margin-right: 40px;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 21px;
    
}
.menu-text ul li{
    list-style: none;
}
.menu-text ul li a{
    text-decoration: none;
}
.small{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.blue{
    width: 600px;
    border: blue 2px solid;
}
.zagwar{
margin-right: 200px;
}
.card1:hover {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.758);
}
.dood{
   display: flex; 
   justify-content: space-between;
}

.zuraas{
    margin-right: 200px;
}

.delgets{
    width: 600px;
    border:blue 2px solid;
}
.delgets-text{
    margin: 20px;


}
.delgets-text ul li {
    list-style: none;
}
.delgets-text ul li a{
    text-decoration: none;
}
.taslal h1{
    color: blue;

}


.hureemax{
    display: flex;
    justify-content: space-between;
    width: 100%;


}

.delgets{
    margin-right: 20px;
}
.delgets-text ul{
    display: flex;
    margin-right: 40px;
    justify-content: space-between;
    margin-left: 100px;
    font-size: 21px;
}


.banner-3{
max-width: 1400px;
margin:auto;
}
.ba-3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.ba-card{
    width: 100%;
    height: 300px;
    border-radius: 10px;


}
.ba-img img{
    border-radius: 10px;
    
}

.agaar{
    font-size: 30px;
    
}
.zurag-img{
    display: flex;
}
.vape{
    text-align: center;
}


.footer{
    width: 100%;
    background-color: #fff;
}
.f-container{
    max-width: 1400px;
    margin: auto;

}
.f-full{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
        

}
.f-fox{
    width: 100%;
    height: 300px;
    border: 1px solid #000;
    font-size: 20px;
}
.f-text{
 width: 100%;
 height: 100%;
 display: flex;
}

.f-botton{
    width: 100%;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;

}
.f-botton h1{
    color: #fff;
    text-align: center;
    font-size: 18px;
}
@media(max-width:745px){
    
}