@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
    background-color: #f6f6f6;
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    background-color: #e5002b;
}
.h-container {
    max-width: 1400px;
    margin: auto;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}
.a-container1 {
    background-color: #ffffff;
}
.logo-1 {
    width: 300px;
    height: 80px;
    
}
.logo-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.search-i {
    width: 45px;
    height: 45px;
    background-color: #f5f5f5;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-left: 1px solid #777;
}
.search-i i {
    width: 100%;
    height: 100%;
    display: flex;
    color: #777;
    justify-content: center;
    align-items: center;
}

.search-1 {
    display: flex;
}

.search-2 input {
    width: 450px;
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    outline: none;
    border: none;
}
.profile {
    display: flex;
    align-items: center;
    gap: 35px;
}


.header-2 {
    width: 100%;
    background-color: #b60022;
}
.h2-container {
    max-width: 1400px;
    margin: auto;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.menus-ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.menus-ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}



.wishlist {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #b60022;


    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;


    border-radius: 20px;
}

.wishlist-h h1 {
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}
.w-i i {
    color: #fff;
}


.sags {
    border-left: 1px solid #f5f5f5;
    border-right: 10px solid #f5f5f5;
    padding-left: 020px;
    padding-right: 20px;
}
.sags-1 i {
    color: #fff;
}


.me-1 {
    background-color: #b60022;
    padding: 10px;
    color: #fff;
    border-radius: 50%;
}


.menu-i i {
    color: #fff;
    font-size: 20px;
}
.Jagsaalt {
    width: 100%;
    height: 70px;
    background-color: #fff;
    color: 444;
    font-size: 20px;
}








footer {
    width: 100%;
    background-color: #fff;
}
.f-container {
    max-width: 1400px;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.f-full {
    width: 100%;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.f-box {
    width: 100%;
}
.f-text {
    width: 100%;
    height: 100%;
}
.f-text1 h1 {
    font-size: 22px;
}
.f-line {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
    height: 5px;
    background-color: #000000;
}
.f-text1 {
    width: 100%;
}
.f-text1 ul {
    list-style: none;
    width: 100%;
}
.f-text1 ul li {
    width: 100%;
    line-height: 40px;
    border-bottom: 1px solid #000;
}
.f-text1 ul li a {
    text-decoration: none;
    color: #000;

}

.f-bottom {
    width: 100%;
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}
.f-bottom h1 {
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.bar-icon{
    display: none;
}
